* {
  box-sizing: border-box;
  overflow: hidden;
}
.chatContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100vh;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
}

.left-side {
  min-width: 10rem;
  flex: 1;
}
.right-side {
  flex: 3;
}

/*********************** -Left Side- *****************************/
/* -Search Input- *****************************/

.searchbarContainer {
  flex: 0.8;
  padding: 1rem;
  display: flex;
  justify-items: center;
}

.searchbar {
  flex: 1;
  display: flex;
  padding: 0.4rem;
  padding-left: 0.7rem;
  font-family: "Poppins";
  font-size: 1rem;
}

.searchbar:focus {
  outline: none;
}

/* Friend List- *****************************/

.friendList {
  flex: 8;
}
.scrollbar {
  flex: 1;
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 4rem;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 0.4rem;
  margin-left: 1rem;
}
.users {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  transition: 1s;
}
.friendLeftDetails {
  display: flex;
  flex-direction: column;
}
.userNameLeft {
  font-size: 0.9rem;
  margin: 0;
}
.userLastMessage {
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.2rem;
}
.users h4 {
  margin-left: 0.7rem;
}

/* -Settings- *****************************/

.settings {
  flex: 1.7;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.settingsWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.buttonSettings {
  border-radius: 1.5rem;
  border: none;
  transition: 0.5s;
}

.buttonSettings:hover,
.buttonSettings:focus {
  box-shadow: 0 0.9em 0.7em -0.4em var(--primary);
  transform: translateY(-1em);
  cursor: pointer;
}

/*********************** -Right Side- *****************************/

/* -User Header- *****************************/

.userHeader {
  flex: 1.2;
  display: flex;
  flex-direction: row;
}

/* User Image */
.userImage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.userPic {
  width: 3rem;
  height: 3rem;
}
.userName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 6;
  margin-left: 1rem;
}

.more {
  display: flex;
  align-items: center;
}
.moreButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  margin-right: 2rem;
}
.moreButton:hover {
  cursor: pointer;
}

/* -Messages- *****************************/
.empty {
  display: flex;
  height: 100vh;
}
.messages {
  flex: 7;
}
.messageContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.message {
  width: 60%;
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-family: Poppins;
  letter-spacing: 0.0001rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.fromUser {
  justify-content: flex-end;
}
.fromFriend {
  justify-content: flex-start;
}

/* -Message Input- *****************************/

.messageInputContainer {
  flex: 1;
  display: flex;
  padding: 1rem;
}

.messageInput {
  flex: 4;
  padding-left: 1rem;
  padding: 1rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.messageInput:focus {
  outline: none;
}

.messageButton {
  text-transform: uppercase;
  flex: 1;
  border-color: transparent;
  border-radius: 0.2rem;
  padding: 0.7rem;
}
