:root {
  /* Colors */
  --primary: #68b7ff;
  --secondary: #f2f2f2;
  --input: #f3f3f3;
  --inputcolor: #bbbbbb;
}

* {
  box-sizing: border-box;
}
.chatContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
}

.left-side {
  flex: 1;
}

/*********************** -Left Side- *****************************/
/* -Search Input- *****************************/

.searchbarContainer {
  background-color: var(--secondary);
  padding: 1rem;
  padding-bottom: 0.7rem;
}

.searchbar {
  flex: 1;
  display: flex;
  padding: 0.4rem;
  border: 1px solid var(--inputcolor);
  font-family: "Poppins";
  font-size: 1rem;
}
.searchbar:focus {
  outline: none;
}

/* Friend List- *****************************/

.friendList {
  background-color: var(--secondary);
  overflow: scroll;
}
.users {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
  justify-items: center;
  align-items: center;
  background-color: white;
  transition: 1s;
  margin-bottom: 0.4rem;
}
.users:hover {
  background-color: var(--primary);
  cursor: pointer;
}
.userName {
  border: 0 !important;
  font-size: 1rem;
}
.users h4 {
  margin-left: 0.7rem;
}
.right-side {
  flex: 4;
}
.friendList,
.messages {
  flex: 1;
}

/* -Settings- *****************************/

.settings {
  display: flex;
  justify-content: end;
  flex-direction: row;
  background-color: var(--secondary);
}
.settingsWrap {
  margin-top: 1rem; /* preventing conflict between scrollbar and icons hovering */
}
.buttonSm {
  border: none;
  transition: 0.5s;
}
.buttonSm:hover,
.buttonSm:focus {
  box-shadow: 0 0.9em 0.7em -0.4em var(--primary);
  transform: translateY(-1em);
}

/*********************** -Right Side- *****************************/

/* -User Header- *****************************/

.userHeader {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
}

/* User Image */
.userImage {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

.userPic {
  width: 3rem;
  height: 3rem;
}
.userName {
  flex: 5;
  margin-left: 1rem;
}

.moreButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #8f8c8c;
  font-weight: 900;
  border: none;
  margin-right: 2rem;
}
.moreButton:hover {
  color: #141414;
  cursor: pointer;
}

/* -Messages- *****************************/

.message {
  display: flex;
  background-color: var(--secondary);
  padding: 0.6rem;
  margin: 1.5rem;
  font-family: Poppins;
  letter-spacing: 0.0001rem;
  text-align: justify;
}

/* -Message Input- *****************************/

.messageInputContainer {
  display: flex;
  background-color: var(--secondary);
}
.messageInput {
  flex: 4;
  padding-left: 1rem;
  padding: 1rem;
  border: 1px solid var(--inputcolor);
  font-family: "Poppins";
  font-size: 1rem;
}
.messageInput:focus {
  outline: none;
}

.messageButton {
  text-transform: uppercase;
  flex: 0.5;
  border-color: transparent;
  border-radius: 0.2rem;
  padding: 0.7rem;
}
