.userProfileContainer {
  display: flex;
  flex-direction: column;
}

/* ------ Cancel Button -----------*/
.cancelButton {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: end;
  padding: 1rem;
  padding-right: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: gray;
}
.cancelButton:hover {
  color: var(--primary);
  cursor: pointer;
}
/* ------ Profile Details -----------*/

.userDetails {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
}

.profilePicContainer {
  margin-bottom: 1rem;
}
.profilePic {
  width: 6.5rem;
  height: 6.5rem;
}
.profileName {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.lastSeen {
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: 400;
  color: #c8c8c8;
  margin-bottom: 1rem;
}
/* ------ Action Boxes -----------*/
.actions {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: none;
}

.actionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 7rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
  background-color: var(--secondary);
  transition: all 1s;
}

.messaging,
.call,
.video {
  width: 3rem;
  height: 3rem;
  padding-bottom: 1rem;
}
.messaging:hover,
.call:hover,
.video:hover {
  cursor: pointer;
  filter: brightness(70%);
}
