:root {
  /* Colors */
  --primary: #68b7ff;
  --secondary: #f2f2f2;
  --input: #f3f3f3;
  --inputcolor: #bbbbbb;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Login Page */

.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHeader {
  text-align: center;
}

.loginRows {
  width: 20rem;
  padding: 0.7rem;
  border-color: transparent;
  border-radius: 0.2rem;
}
.CustomInput {
  margin-bottom: 0.5rem;
  font-family: Poppins;
  font-size: 1rem;
  color: var(--inputcolor);
  background-color: var(--input);
  border-color: transparent;
  border-radius: 0.2rem;
  text-transform: uppercase;
}
.CustomButton {
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--primary);
}
